.contentMain {
  display: flex;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 280px) {
    justify-content: center;
    left: calc(100% - 97%);
    top: calc(100% - 70%);

    img {
      &:first-child {
        width: calc(100% - 5%);
      }

      &:nth-child(2) {
        position: absolute;
        width: 80%;
        top: calc(100% - 20%);
        left: calc(100% - 92%);
      }
    }
  }
}

.contentBotao {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  gap: 10px;

  @media screen and (min-width: 280px) {
    top: calc(100% - 50%);
    left: calc(100% - 90%);

    padding: 12px 16px;

    background: #1d1d1d;
    border: 2px solid #ec111a;
    border-top-left-radius: 40%;

    color: #fff;
    font-weight: 600;
    text-align: center;
    background: #1d1d1d;
    text-transform: uppercase;
    font-size: 20px;

    &::after {
      content: "";
      padding: 9px;
      position: absolute;
      transform: skewY(-45deg);
      border: 3px solid #ec111a;
      z-index: 10;
      top: 7px;
      left: 0;
      border-bottom: none;
      border-left: none;
      border-right: none;
      background-color: #1d1d1d;
    }
    &::before {
      content: "";
      padding: 5px;
      position: absolute;
      transform: skewY(0deg);
      border: 2px solid #ec111a;
      z-index: 10;
      top: -2px;
      width: 83%;
      left: 18px;
      border-bottom: none;
      border-left: none;
      border-right: none;
      background-color: #1d1d1d;
    }
    &:hover {
      border-top-left-radius: 42%;
      cursor: pointer;
      box-shadow: 0 0 20px 1px #ec111a;
      border: 3px solid #ec111a;
      z-index: 1000;

      &:hover::before {
        opacity: 5;
        width: 80%;
      }
    }

    a {
      text-decoration: none;
      color: #f1f1f1;
    }
  }
}
