.socialMedia {
  position: absolute;
  width: 100px;
  height: 100vh;

  @media screen and (min-width: 280px) and (max-width: 599px) {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 150px;
  }

  @media screen and (min-width: 600px) {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
  }

  .background {
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.5);
    filter: blur(2px);
    position: absolute;
    z-index: -0;
  }

  .search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    bottom: 5em;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      z-index: 10;

      .iconSearch {
        position: absolute;
        bottom: 0px;
      }

      .textSearch {
        display: none;
      }
    }

    @media screen and (min-width: 280px) and (max-width: 599px) {
      display: flex;
      width: 100%;
      z-index: 10;
      margin-bottom: 15px;
      justify-content: space-evenly;

      .textSearch {
        padding: 10px 15px;
        width: 75%;
        outline: none;
        border: none;
        border-radius: 5px;
        color: #fff;
        background: rgba(156, 153, 153, 0.658);
        font-size: 14px;

        &::placeholder {
          color: #ddd;
        }
      }
    }
  }
  .container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    li {
      list-style-type: none;
      &:first-child {
        img {
          width: 64px;
          height: 64px;
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
    }

    .perfil {
      position: absolute;
      top: 16px;
      left: 16px;
      .status {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 45px;
        left: 50px;
      }
    }

    @media screen and (min-width: 600px) {
      justify-content: space-between;
      top: 15px;
      z-index: 10;

      li {
        a {
          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      .perfil {
        position: inherit;
        img {
          &:first-child {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    @media screen and (min-width: 280px) and (max-width: 599px) {
      flex-direction: row;
      justify-content: space-around;
      bottom: 0;
      z-index: 0;

      li {
        a {
          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      .perfil {
        position: inherit;
        img {
          &:first-child {
            width: 45px;
            height: 45px;
          }
        }

        .status {
          width: 10px;
          height: 10px;
          position: absolute;
          top: 45px;
          left: 50px;
        }
      }
    }
  }
}
